.intro-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 20px;
}


.about{
    border-top: 2px solid #A67661;
    border-bottom: 2px solid #A67661;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.about-info h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.about-info p{
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    color: #7c7c7c;
}

.about-img{
    flex: 1 1 160px;
    margin: 0 10px;
}