.products{
    max-width: 960px;
    margin: 60px auto;
}

.products h1{
    font-size: 48px;
    margin: 0 10px 60px 10px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.products-item{
    flex: 1 1 160px;
    margin: 10px;
}

.products-item h2{
    font-size: 35px;
    margin-bottom: 10px;
    padding: 40px 20px;
    color: #7c7c7c;
    background-color: #f7f7f7;
}

.purple{
    border-top: 8px solid #ae81ff;
}
.red{
    border-top: 8px solid #f9265e;
}
.blue{
    border-top: 8px solid #66d9eb;
}